* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Arial';
}

/* Colors */
:root {
  --red: #ec502f;
  --ligntred: #e0c4c4;
  --black: #000;
  --white: #fff;
}

/* Fonts */
@font-face {
  font-family: 'Manrope-Light';
  src: url(../fonts/ttf/Manrope-Light.ttf);
}

h1 {
  color: var(--white);
}

h2 {
  /* color: var(--red); */
}

h3 {
  /* color: var(--red); */
}

h4 {
  /* color: var(--red); */
}

p {
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: upperCase;
}

/* Home Page Navigation: Desktop */
.homepage-navigation {
  background-color: var(--black);
  padding: 1rem 1rem;
  height: 4rem;
}

.navigation-wrapper {
  margin: 1rem auto;
}

.homepage-navigation ul {
  display: flex;
  align-items: center;
}

.homepage-navigation a {
  margin-right: 2rem;
  color: var(--white);
  transition: 0.2s ease-in-out;
}

.homepage-navigation a:hover {
  opacity: 75%;
}

.links-1,
.links-2 {
  display: flex;
}

.links-1 {
  margin: 0 0 0 1.5rem;
}

.links-2 {
  margin: 0 0 0 24rem;
}

.name {
  color: var(--red);
  margin-left: 23rem;
  text-transform: upperCase;
}

/* Home Page Header */
.homepage-header {
  height: 30rem;
  background-color: var(--black);
  padding-top: 4rem;
}

.homepage-header p {
  color: var(--white);
  font-size: 2rem;
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

.email {
  width: 20%;
  margin: 5rem auto;
}

.email h3 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--red);
  transition: 0.2s ease-in-out;
}

.email h3:hover {
  opacity: 75%;
}

/* Skills Section */
.skills h2 {
  font-size: 2rem;
  width: 20%;
  margin: 4rem auto;
}

.skill-wrapper {
  display: flex;
  width: 75%;
  margin: 1rem auto;
  justify-content: space-around;
}

.skill {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--black);
  padding: 0.5rem 2rem;
}
